# -*- encoding: utf-8 -*-
#
# Copyright 2017-2020 Red Hat, Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.

---
- name: Import GPG keys
  become: True
  rpm_key:
    key: '{{ item }}'
  with_items:
      - https://packagecloud.io/prometheus-rpm/release/gpgkey
      - https://raw.githubusercontent.com/lest/prometheus-rpm/master/RPM-GPG-KEY-prometheus-rpm

- name: Have the prometheus repo configured
  become: True
  yum_repository:
    name: prometheus
    description: prometheus
    baseurl: https://packagecloud.io/prometheus-rpm/release/el/7/$basearch
    gpgcheck: yes
    gpgkey:
      - https://packagecloud.io/prometheus-rpm/release/gpgkey
      - https://raw.githubusercontent.com/lest/prometheus-rpm/master/RPM-GPG-KEY-prometheus-rpm


- name: Ensure apache/httpd server-status is enabled
  become: True
  copy:
    src: status.conf
    dest: /etc/httpd/conf.d/status.conf
  notify: apache-exporter-httpd-reload

- name: Ensure apache-exporter is installed
  become: True
  package:
    name: apache_exporter
    update_cache: yes

- name: Ensure start-up configuration is set
  become: True
  lineinfile:
    path: /etc/default/apache_exporter
    regexp: '^APACHE_EXPORTER_OPTS='
    line: 'APACHE_EXPORTER_OPTS="-{{ " --".join(prometheus_apache_exporter_opts) }}"'
  when: prometheus_apache_exporter_opts is defined
  notify: apache-exporter-restart

- name: Ensure apache-exporter is started and enabled
  become: True
  service:
    name: apache_exporter
    state: started
    enabled: yes
